@import url("foundation.css");
@import url("header.css");
@import url("footer.css");

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100px repeat(4, auto);
      grid-template-areas: 
      "hd   hd   hd   hd"
      "banr banr banr banr"
      "feat feat feat feat"
      "main main main main"
      "ft   ft   ft   ft";
}

/*Header section
    Imported*/

/*Banner Section*/
.banner {
    grid-area: banr;
    background-image: url("Blog-Photos/bookshelf.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #000000;
    padding: 10vh;
    display: flex;
    align-items: center;
}

.banner #intro {
    Border: 5px solid #000000;
    border-radius: 25px;
    font-size: 3vw;
    text-align: center;
    height: 75%;
    width: 75%;
    margin: 0 auto;
    padding: 10vh 1vw;
    background-color: #d1f7ff;
    opacity: .75;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Feature Section*/
.feature {
    grid-area: feat;
    width: 100%;
    text-align: center;
}

.feature img {
    width: 75%;
}

.feature h3 {
    margin: 2vh;
}

.feature .about_exc {
    border: 5px double #d1f7ff;
    background-color: #000000;
    color: #ffffff;
    line-height: 2;
    margin: 5vh 10vw;
    padding: 5vh 10vw;
}

/*Main Section*/
.main {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #d1f7ff;
    flex-basis: 25vw;
    margin: 2vh;
    padding-bottom: 1vh;
}

.card img {
    display: block;
    width: 75%;
    height:50%;
    margin: 1vh auto;
    border: 2px double #000000;
}

.card h2 {
    text-align: center;
    font-size: 2.5vw;
}

.card a:link {
    text-decoration: underline;
    color:#000000;

}

.card a:visited {
    color: #000000;
}

.card a:hover {
    color: #8688f9;
}

.card p {
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

/*Footer Section
    Imported*/

/*Media Queries*/
@media (max-width: 500px) {
    .container {
        grid-template-columns: auto;
        grid-template-areas: 
        "hd"
        "banr"
        "feat"
        "main"
        "ft";
    }
    #navbar li {
        font-size: 3.5vw;
    }
    #intro h1 {
        font-size: 8vw;
    }
    .feature img {
        width: 100%;
    }
    .feature p {
        font-size: 3.5vw;
    }
    .main {
        flex-direction: column;
    }
    .card {
        flex-basis: 50vw;
    }
    .card h2 {
        font-size: 5vw;
    }
    .card p {
        margin-top: 1.5vh;
        font-size: 1em;
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
        "hd hd"
        "banr banr"
        "feat feat"
        "main main"
        "ft ft";
    }
    .card {
        flex-basis: 40vw;
    }
    .card h2 {
        font-size: 3vw;
    }
    .card p {
        font-size: 2vw;
        margin-top: 1.5vh;
    }
}