@import url("header.css");
@import url("footer.css");
@import url("media.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', Georgia, serif;
    background-color: #d1d2ff;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
      grid-template-areas: 
      "hd   hd   hd   hd"
      "banr banr banr banr"
      "feat feat feat feat"
      "main main main main"
      "ft   ft   ft   ft";
}

/*Header section*/

/*Banner Section*/
.banner {
    grid-area: banr;
    background-image: url("bookshelf.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #000000;
    padding: 10vh 10vw;
}

.banner #intro {
    Border: 5px solid #000000;
    border-radius: 10%;
    font-size: 3vw;
    text-align: center;
    height: 75%;
    width: 75%;
    margin: auto;
    margin-top: 15vh;
    background-color: #d1f7ff;
    opacity: .75;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Feature Section*/
.feature {
    grid-area: feat;
    width: 100%;
    border-bottom: 5px solid #000000;
    text-align: center;
}

.feature .about_exc {
    border: 5px dotted #d1f7ff;
    background-color: #000000;
    color: #ffffff;
    margin: 10vh 10vw;
    padding: 10vh 10vw;
}

/*Main Section*/
.main {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.card {
    border: 5px solid black;
    border-radius: 10px;
    background-color: #d1f7ff;
    flex-basis: 25vw;
    margin: 2vh;
}

.card h2 {
    text-align: center;
    font-size: 3.5vw;
}

.card a:link {
    text-decoration: underline;
    color:#000000;

}

.card a:visited {
    color: #000000
}

.card a:hover {
    color: #8688f9;

}


/*Footer Section*/
