* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', Georgia, serif;
    background-color: #d1d2ff;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 100px 500px 800px 500px 200px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "banr banr banr banr banr banr banr banr"
      "main main main main main main main main"
      "feat feat feat feat feat feat feat feat"
      "ft ft ft ft ft ft ft ft";
}

/*Header section*/
.header {
    grid-area: hd;
    position: fixed;
    height: 100px;
    width: 100%;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    z-index: 10;
}

#logo img {
    height: 100px;
    width: 150px;
    overflow: hidden;
    display: flex;
    align-content: flex-end;
}

#navbar {
    margin-right: 10px;
    display: flex;
    justify-content: end;
}

#navbar li {
    display: inline;
    list-style: none;
    margin: 0.5em;
}

header a:link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

header a:visited {
    color: #ffffff;
}

header a:hover {
    text-decoration: underline;
    color: #8688f9;
}

/*Banner Section*/
.banner {
    grid-area: banr;
    background-image: url("bookshelf.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #000000;
}

.banner #intro {
    Border: 5px solid #000000;
    border-radius: 25px;
    font-size: 1.5rem;
    text-align: center;
    height: 250px;
    width: 50%;
    margin: auto;
    margin-top: 125px;
    background-color: #d1f7ff;
    opacity: .75;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Main Section*/
.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: repeat(3, 400px);
    justify-content: space-around;
    align-content: space-around;
}

.card {
    border: 5px solid black;
    border-radius: 25px;
    background-color: #d1f7ff;
}

.card h2 {
    text-align: center;
}

.card a:link {
    text-decoration: none;
    color:#000000;

}

/*Feature Section*/
.feature {
    grid-area: feat;
    border: 5px solid black;
}

/*Footer Section*/
.footer {
    grid-area: ft;
}



