.footer {
    grid-area: ft;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-flow: column wrap;
}

#ft-img {
    width: 200px;
    height: 150px;
    margin: 0 auto;
}

.subs {
    background-color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
}

form {
    margin: 2vh;
    padding: 5vh;
    background-image: linear-gradient(to right, #77e1f6 5%, #9395f8, #ffd1fd);
    border-radius: 2em;

}

.subs h1 {
    text-transform: uppercase;
    color: #000000;
}

.subs p {
   color: #000000;
   font-style: italic;
   font-weight: bold;
    margin: 1.5vh;
}

input {
    font-family: 'Merriweather', Georgia, serif;
    padding: 1.5vh 2vw;
    border: 1px solid #bcbcbc;
    border-radius: 5em;
}

::placeholder {
    color: #bcbcbc;
}

.sub-btn {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: bold;
    padding: 1.5vh 1vw;
    border: 1px solid #bcbcbc;
    border-radius: 5em;
    background-color: #d1f7ff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

.ft-links {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    padding: 2vh;
}

.ft-links li {
    list-style: none;
    margin: 0 auto;
}

.ft-links a:link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.ft-links a:visited {
    color: #ffffff;
}

.socials {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials li {
    list-style: none;
    margin: 0 2em;
}