* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', Georgia, serif;
    /*background-color: #d1d2ff;*/
    background-image: linear-gradient(to right, #77e1f6 5%, #9395f8, #ffd1fd);
    font-size: 16px;
}