@media (max-width: 500px) {
    .container {
        grid-template-columns: auto;
        grid-template-areas: 
        "hd"
        "banr"
        "feat"
        "main"
        "ft";
    }
    #navbar li {
        font-size: 3vw;
    }
    .banner #intro  {
        margin-top: 10vh;
    }
    .main {
        flex-direction: column;
    }
    .card {
        flex-basis: 50vw;
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
        "hd hd"
        "banr banr"
        "feat feat"
        "main main"
        "ft ft";
    }
    .card {
        flex-basis: 40vw;
    }
}