* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header  header  header  header"
    "banner  banner  banner  banner"
    "main    main    main    main"
    "feature feature feature feature"
    "footer  footer  footer  footer";
}
/*Header Section*/
.header{
    grid-area: header;
    position: fixed;
    height: 100px;
    width: 100%;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    z-index: 10;
}

#logo img {
    height: 100px;
    width: 150px;
    overflow: hidden;
    display: flex;
    align-content: flex-end;
}

#navbar {
    margin-right: 10px;
    display: flex;
    justify-content: end;
}

#navbar li {
    display: inline;
    list-style: none;
    margin: 0.5em;
}

header a:link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

header a:visited {
    color: #ffffff;
}

header a:hover {
    text-decoration: underline;
    color: #8688f9;
}

/*Banner Section*/
.banner{
    grid-area: banner;
}

/*Main Section*/
.main{
    grid-area: main;
}

/*Feature Section*/
.feature{
    grid-area: feature;
}

/*Footer Section*/
.footer{
    grid-area: footer;
}