@import url("foundation.css");
@import url("header.css");
@import url("footer.css");

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
      grid-template-areas: 
      "hd   hd    hd    hd"
      "feat intro intro intro"
      "feat main  main  main"
      "ft   ft    ft    ft";
}

/*Header Section*/

/*Feature Section*/



/*Intro Section*/